name: Sync Operators File & Update Feegrant Data

on:
  push:
    branches:
      - main
    paths:
      - '_IBC/*.json'
  pull_request:
    types: [closed]
    branches:
      - main
  workflow_dispatch:

jobs:
  sync-operators-update-feegrant:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository and Switch to Main
        uses: actions/checkout@v2
        with:
          ref: main  

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests python-dotenv

      - name: Sync Operators File
        run: python ./scripts/sync_operators_file.py

      - name: Update Feegrant Data
        run: python ./scripts/update_feegrant_data.py

      - name: Commit and Push Changes
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add -A
          git commit -m "Sync Operators file" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}